<nav class="d-flex flex-column align-items-center justify-content-between py-4">
    <div class="logo"><img src="assets/images/PMS.svg" alt="logo"></div>
    <div class="nav-item">
        <ul class="list-unstyled text-center">
            <li class="my-4"><img src="assets/images/control-room.svg" alt="logo"></li>
            <li class="my-4"><img src="assets/images/dashboard.svg" alt="logo"></li>
            <li class="my-4"><img src="assets/images/elements.svg" alt="logo"></li>
            <li class="my-4"><img src="assets/images/settings.svg" alt="logo"></li>
            <li class="my-4"><img src="assets/images/notifications.svg" alt="logo"></li>
        </ul>
    </div>
    <div class="logout"><img src="assets/images/logout.svg" alt="logout"></div>
</nav>